<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityAssist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        table, th, td {
  border:1px solid black;
}
    </style>
</head>
<body>
     <nav class="navbar bg-darkk p-3 bg-body-tertiary shadow-lg">
        <div class="container-fluid">
          <a class="navbar-brand">CityAssist</a>
          <form class="d-flex" role="search">
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <a href="/" class="btn btn-success" type="submit">Home</a>
          </form>   
        </div>
      </nav> 
    {% block start%}


    {% endblock %}

    <script>


    </script>


</body>
</html>