{% extends "base.html"  %}
{% block start %}
    <div class="container mt-5">
        <form class="col-6 mx-auto card p-3 shadow-lg me" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h2>Register Complaint</h2>
          <hr>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Complaint Name</label>
              <input name="complaint_name" required type="text" class="form-control">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" name="complaint_description" class="form-label">Complaint Description</label>
              <textarea name="complaint_description" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Complaint Image</label>
                <input name="complaint_image" type="file" class="form-control">
              </div>

            <button type="submit" class="btn btn-success">Register</button>
          </form> 
          <hr>
         {% if  messages %}
          {{messages.tags}}
          <div class="alert alert-success" role="alert">
            {% for message in messages %}
            {{message}}
            {% endfor %}
          </div>
          {% endif %} 
    </div>

    {% endblock %}